html
    head
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
        link(rel="shortcut icon", href="https://codersx-prod.s3.ap-southeast-1.amazonaws.com/6226094a-2032-4a1a-aad8-e738bdbea518", type="image/x-icon")
        link(rel="stylesheet", href="/style.css")
    body
    block navigation bar
    block main